Django == 1.8.12
psycopg2
django-crispy-forms >= 1.6.0
Pillow
mistune >= 0.7.1
pygments >= 2.1
django-contrib-comments
django-fluent-comments >= 1.2
django-threadedcomments >= 1.0.1
django_braces >= 1.8.1
dj_database_url

