{% extends 'blog/base.html' %}
{% block centerColumn %}
  <br>
  <br>
<div class="container-fluid">
  <div class="row content">
     <div class="col-sm-5">
        <p> 
        Few years back, I was a researcher in math. These days, I'm a web-developer. <br> 
        <a href="https://github.com/mohammad22">Github </a> link.  
            <br>
            <a href="mailto:moghaddam22@gmail.com"><span class="glyphicon glyphicon-envelope"></span> moghaddam22@gmail.com</a> 
        </p>
     </div>
  </div>
</div>
{% endblock centerColumn %}
