{% extends 'blog/base.html' %}
{% block centerColumn %}
{% for post in object_list %}
<h3> <a href= {{post.get_absolute_url}}> {{post.title}}</a></h3>
    <h5><span class = "glyphicon glyphicon-time"></span> 
        Posted {{post.date}}, by {{post.author}}:</h5><br>
    {% autoescape off %}
    <p>{{post.html|truncatechars_html:"150"}} 
    <a href = {{post.get_absolute_url}} > More >></a>
         </p><br>
    {% endautoescape %}
{% endfor %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'blog:postbriefs' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'blog:postbriefs' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock centerColumn %}
